.header {
  padding: 16px 0;
  background-color: var(--white);
  font-family: 'Inter', sans-serif;
}

.header_transparent {
  background-color: transparent;
}

.header__title {
  margin: 16px 0 0 0;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
}

.header__logo {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 24px 0 40px;
  }

  .header__title {
    margin-top: 38px;
    font-size: 50px;
    font-weight: 500;
    line-height: 64px;
  }

  .header__logo {
    text-align: left;
  }
}