.header {
  padding: 16px 0;
  background-color: var(--white);
  font-family: 'Inter', sans-serif;
}

.header_transparent {
  background-color: transparent;
}

.header__title {
  margin: 16px 0 0 0;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
}

.header__inner {
  display: flex;
  justify-content: center;
  position: relative;
}

.header__logo {
  width: 110px;
  height: 32px;
  flex-shrink: 0;
  color: var(--black);
}

.header__menu-btn {
  display: block;
  background: none;
  border: none;
  padding: 0;
  position: absolute;
  left: 0;
  transform: translateY(-50%);
  top: 50%;
  cursor: pointer;
}

.header__menu-icon {
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 24px 0 40px;
  }

  .header__menu-btn {
    display: none;
  }

  .header__title {
    margin-top: 38px;
    font-size: 50px;
    font-weight: 500;
    line-height: 64px;
  }

  .header__inner {
    justify-content: space-between;
  }
}