.header {
  padding: 96px 0 69px;
  background-color: var(--white);
  font-family: 'Inter', sans-serif;
}

.header_transparent {
  background-color: transparent;
}

.header__title {
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 96px 5px 77px;
  }

  .header__title {
    font-size: 50px;
    font-weight: 500;
    line-height: 64px;
  }
}