.template__header {
  padding: 16px 8px;
  min-height: 82px;
  border-bottom: none;
}

.template__preview {
  padding: 36px 0;
}

.template__footer {
  padding: 56px 0;
  background-color: transparent;
  border: none;
}

.template__footer-title {
  color: var(--grey-3);
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}