.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 307px;
  padding: 0 0 10px 0;
  background-color: var(--white);
  box-shadow: 0px 2px 4px 0px #2124290D;
  border-radius: 12px;
  box-sizing: border-box;
}

.card__body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
  min-height: 164px;
}

.card__footer {
  flex: 0 auto;
  margin-top: 12px;
  padding: 0 10px;
}

.card__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  line-height: 100%;
  letter-spacing: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (min-width: 375px) {
  .card {
    width: 164px;
    min-height: 210px;
  }
}

@media screen and (min-width: 768px) {
  .card {
    width: 350px;
    min-height: 367px;
    padding: 30px 25px;
  }

  .card__body {
    box-shadow: none;
  }

  .card__footer {
    margin-top: 24px;
   
    padding: 0;
  }

  .card__title {
    font-weight: 500;
    font-size: 21px;
  }
}