.card {
  display: flex;
  flex-direction: column;
  min-height: 307px;
  padding: 0 0 10px 0;
  background-color: var(--white);
  box-shadow: 0px 2px 4px 0px #2124290D;
  border-radius: 12px;
  box-sizing: border-box;
}

.card__body {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
  min-height: 164px;
  pointer-events: none;
  position: relative;
  padding: 32px 0;
}

.card__footer {
  flex: 0 auto;
  margin-top: 12px;
  padding: 0 10px;
  text-align: center;
}

.card__title {
  margin-bottom: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card__grid {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-gap: 16px;
}

@media screen and (min-width: 375px) {
  .card {
    min-height: 210px;
  }
}

@media screen and (min-width: 768px) {
  .card {
    min-height: 367px;
    padding: 30px 25px;
  }

  .card__body {
    box-shadow: none;
  }

  .card__footer {
    margin-top: 24px;
    padding: 0;
  }

  .card__title {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
  }

  .card__grid {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
  }
}