/* Стилизация аккордеона */
.accordion {
  --padding: 32px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.accordion__section {
  margin: 0 0 8px 0;
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  background-color: var(--white);
  cursor: pointer;
}

.accordion__section:last-child {
  margin: 0;
}

.accordion__summary {
  padding: 24px var(--padding) var(--padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion__summary::marker { 
  content: '';
}

.accordion__arrow {
  width: 18px;
  height: 10px;
  color: var(--grey-4);
}

.accordion__content {
  padding: 0 var(--padding) var(--padding);
  margin: 16px 0 0 0;
  color: var(--grey-4);
}

.accordion__section[open] .accordion__summary {
  padding-bottom: 0;
}

.accordion__section[open] .accordion__arrow {
  transform: rotate(180deg);
}