.toggler__state {
  position: relative;
  display: inline-flex;
  align-items: center;
  pointer-events: none;
  gap: 12px;
}

.toggler__control {
  position: relative;
  background: var(--white);
  border: 1px solid var(--grey-2);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 52px;
  height: 28px;
}

.toggler__label {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-4);
}

.toggler__switch {
  position: absolute;
  transform: translateX(-50%);
  width: 24px; 
  height: 24px; 
  background-color: var(--grey-2);
  border-radius: 16px;
}

.toggler__input:checked ~ .toggler__state 
.toggler__control {
  border-color: var(--blue-2);
  background: var(--blue-2);
}

.toggler__input:checked ~ .toggler__state 
.toggler__switch {
  background-color: var(--white);
  transform: translateX(50%);
}

.toggler__input {
  position: absolute;
  left: -100vw; 
}

.toggler__input:focus ~ .toggler__state 
.toggler__label {
  text-decoration: underline;
}

.toggler__input:disabled ~ .toggler__state 
.toggler__label {
  color: var(--grey-2);
}

.toggler__input:disabled ~ .toggler__state 
.toggler__control {
  border-color: var(--grey-2);
  background: var(--grey-2);
}

.toggler__input:disabled ~ .toggler__state 
.toggler__switch {
  background: var(--grey-3);
}