.modal {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(196, 196, 196, 0.8);
  overflow: hidden;
}

.modal_preview {
  position: relative;
  display: block;
  width: 100%;
  flex: 1 0 auto;
  border: 1px solid var(--grey-3);
}

.modal_preview .modal__title {
  font-size: 14px;
  line-height: 24px;
}

.modal_preview .modal__content {
  width: 90%;
  padding: 16px;
}

.modal__content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 428px;
  padding: 30px 40px;
  background-color: var(--white);
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  line-height: 24px;
  max-height: 80vh;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 16px;
  height: 16px;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--grey-4);
}

.modal__header {
  margin: 0 0 14px 0;
}

.modal__title {
  font-weight: 600;
  font-size: 20px;
  color: var(--grey-7);
}

.modal__body {
  color: var(--grey-4);
  font-weight: 400;
  font-size: 16px;
}

.modal__footer {
  margin-top: 16px;
}