.histogram {
  width: 100%;
  padding: 16px 24px 24px;
  background-color: var(--white);
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
}

.histogram__header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 6px 0;
  font-size: 16px;
  line-height: 24px;
}

.histogram__title {
  opacity: 0.8;
}

.histogram__link {
  margin-top: 3px;
  color: var(--blue-2);
  text-decoration: none;
}

.histogram__count {
  font-size: 20px;
  line-height: 26px;
  margin: 0 0 39px 0;
}

.histogram__bars {
  display: flex;
  gap: 1px;
  height: 50px;
  align-items: flex-end;
}

.histogram__bar {
  flex-grow: 1;
  background-color: var(--blue-2);
  min-width: 1px;
}