.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page__header, 
.page__footer {
  flex: 0 auto;
}

.page__preview,
.page__content,
.page__main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.page__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0;
}

.page_inner {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  background-color: var(--grey-5);
}

@media screen and (min-width: 768px) {
  .page__preview {
    display: block;
  }

  .page__container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 56px;
    margin: 0 auto;
    padding: 0 16px;
    height: 100%;
  }
}