.container {
  max-width: 1110px;
  padding: 0 16px;
  margin: 0 auto;
  box-sizing: border-box;
}

.container_full-width {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 10px;
  }
}