.footer {
  padding: 71px 0 136px 0;
  background-color: var(--white);
  font-family: 'Inter', sans-serif;
}

.footer_transparent {
  background-color: transparent;
}

.footer__content {
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
}

.footer__title {
  margin: 0 0 32px 0;
  font-size: 38px;
  font-weight: 400;
  line-height: 48px;
}

.footer__description {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.footer__uppercase-header {
  color: var(--grey-3);
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
} 

@media screen and (min-width: 768px) {
  .footer {
    padding: 71px 0 136px 0;
  }
}