.burger-menu {
  display: block;
  position: relative;
  color: var(--black);
}

.burger-menu__button {
  position: absolute;
  top: 12px;
  left: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 0;
}

.burger-menu__button_close {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--grey-2);
}

.burger-menu__header {
  display: flex;
  justify-content: center;
  padding: 0 0 32px 0;
  border-bottom: 1px solid var(--grey-2);
}

.burger-menu__mode {
  padding: 28px 0 24px;
}

.burger-menu__button-icon {
  width: 24px;
  height: 24px;
}

.burger-menu__panel {
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
  transition: opacity 0.3s;
  overflow: hidden;
  pointer-events: none;
  padding: 12px 16px;
}

.burger-menu__panel[data-open] {
  pointer-events: auto;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}