.burger-menu {
  inset: 0;
  display: block;
  pointer-events: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: var(--black);
  opacity: 0;
  transition: opacity 0.3s;
}

.burger-menu__button {
  position: absolute;
  top: 12px;
  left: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 0;
}

.burger-menu__button_close {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--grey-2);
}

.burger-menu__header {
  display: flex;
  justify-content: center;
  padding: 0 0 32px 0;
}

.burger-menu__icon {
  width: 24px;
  height: 24px;
}

.burger-menu__panel {
  height: 100vh;
  background-color: var(--white);
  padding: 12px 16px;
}

.burger-menu[data-open] {
  pointer-events: auto;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}