.menu {
  width: 100%;
  padding: 24px 0 0 0;
  border-top: 1px solid var(--grey-2);
}

.menu__title {
  color: var(--grey-3);
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin: 0 0 16px 0;
}

.menu__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 16px 0;
}

.menu__item_bottom {
  margin: 30px 0 0 0;
}

.menu__link {
  color: var(--black); 
  text-decoration: none;
}

.menu__link:hover,
.menu__link:active {
  color: var(--orange);
}

@media screen and (min-width: 768px) {
  .menu {
    padding: 0;
    width: 229px;
  }

  .menu__title {
    color: var(--black-1);
  }

  .menu__item {
    margin: 0 0 4px 0;
    font-size: 14px;
    line-height: 22px;
  }
}