.preview {
  padding: 23px 0;
  background-color: var(--grey-5);
  border-top: 1px solid var(--grey-2);
  border-bottom: 1px solid var(--grey-2);
}

.preview_no-border {
  border: none;
}

@media screen and (min-width: 768px) {
  .preview {
    padding: 68px 0 92px;
  }
}