.input {
  display: inline-block;
  position: relative;
}

.input__control {
  box-sizing: border-box;
  max-width: 350px;
  height: 56px;
  padding: 17px 24px 13px 18px; 
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--grey-4);
  border: 1px solid var(--grey-2);
  border-radius: 16px;
  outline: none;
}

.input__icon_success, 
.input__icon_invalid {
  display: none;
  position: absolute;
  z-index: 1;
  right: 18px;
  width: 24px;
  height: 24px;
  transform: translateY(50%);
}

.input__icon_success {
  color: var(--blue-2);
}

.input__icon_invalid {
  color: var(--error);
}

.input_success .input__icon_success,
.input_invalid .input__icon_invalid {
  display: inline-block;
}

.input_invalid .input__control {
  border-color: var(--error);
}

.input__control:focus, 
.input__control:active {
  border-color: var(--blue-2);
}