.input__control {
  position: relative;
  box-sizing: border-box;
  max-width: 350px;
  height: 56px;
  padding: 17px 24px 13px 18px; 
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--grey-4);
  border: 1px solid var(--grey-2);
  border-radius: 16px;
  outline: none;
}

.input__control_success {
  background: url('../../assets/images/check-circle.svg') no-repeat center right 18px;
}

.input__control_invalid {
  border-color: var(--error);
}

.input__control_invalid {
  background: url('../../assets/images/alert.svg') no-repeat center right 18px;
}


.input__control:focus, 
.input__control:active {
  border-color: var(--blue-2);
}